body{
    margin: 0;
    padding: 0;
}

.image-container{
    position: absolute;
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.back{
    position:absolute;
}

.back>a>img{
    position: relative;
    height: 10%;
    width: 10%;
    margin-left: 15%;
    margin-top: 90px;
}

form{
    position: absolute;
    border: 2px solid;
    border-radius: 20px;
    background: linear-gradient(to right,  yellow, lightgrey);
    font-size: 18px;
    font-weight: 700;
    width:35%;
    height:70%;
    top: 125px;
    left: 900px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
}

h1{
    width: 25%;
    height: 10px;
    margin-left: 15px;
    margin-top: 85px;
    font-size:50px;
}

.username{
    width: 65%;
    height: 30px;
    margin-top: 40px;
    padding: 5px;
    font-size: 20px;
}

#username{
    width: 100%;
    height: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.pass{
    width: 65%;
    height: 30px;
    margin-top: 60px;
    padding: 5px;
    font-size: 20px;
}

#password{
    width: 100%;
    height: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display:flex;
}

.Login{
    width: 200px;
    height: 5px;
    margin-left: 65px;
    border-radius:10px;
    display: flex;
    align-items:center;
}

button{
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 28px;
    margin-top: 80px;
    padding: 10px;
    border-radius:10px;
    display:flex;
}

button:hover{
    background-color: lightskyblue;
    transition: 0,3s ease-in-out;
}

@media screen and (max-width: 768px) {
    body{
        background-color: red;
        margin: 0;
        padding: 0;
    }

    .image-container{
        position: absolute;
        margin-left:8%;
        margin-top:2%;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .back{
        position:absolute;
    }
    
    .back>a>img{
        position: relative;
        height: 10%;
        width: 10%;
        margin-left: 5%;
        margin-top: 90px;
    }

    form{
        position: absolute;
        border: 2px solid;
        border-radius: 20px;
        background: linear-gradient(to right,  yellow, lightgrey);
        font-size: 18px;
        font-weight: 700;
        width:35%;
        height:70%;
        top: 125px;
        left: 500px;
        display:flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
    }

    h1{
        width: 25%;
        height: 10px;
        margin-top: 85px;
        justify-content: center;
        font-size:40px;
    }

    .username{
        width: 65%;
        height: 30px;
        margin-top: 40px;
        padding: 5px;
        font-size: 20px;
    }

    #username{
        width: 100%;
        height: 20px;
        border-radius: 8px;
        margin-top: 20px;
    }

    .pass{
        width: 65%;
        height: 30px;
        margin-top: 60px;
        padding: 5px;
        font-size: 20px;
    }

    #password{
        width: 100%;
        height: 20px;
        border-radius: 8px;
        margin-top: 20px;
        display:flex;
    }

    .Login{
        width: 200px;
        height: 5px;
        margin-left: 65px;
        border-radius:10px;
        display: flex;
        align-items:center;
    }

    button{
        background-color: lightgoldenrodyellow;
        width: 200px;
        height: 28px;
        margin-top: 80px;
        padding: 10px;
        border-radius:10px;
        display:flex;
    }

    button:hover{
        background-color: lightskyblue;
        transition: 0,3s ease-in-out;
    }
}

    